.slide_banner_wrapper
{
    font-weight:400 !important;
}

.navmenu li a {
    font-weight: 400 !important;
    font-size: 14px !important;
}
.navmenu li.sub-menu ul li a {
    font-size: 14px !important;
}