.slide_banner_wrapper
{
    font-weight:400 !important;
}

.navmenu li a {
    font-weight: 400 !important;
    font-size: 14px !important;
}
.navmenu li.sub-menu ul li a {
    font-size: 14px !important;
}


.gs-banner-custom {
    background-size: cover;
    background-position: center;
}

.recent_post_img_gcustom {
    position: relative;
    /*float: left;*/
    display: block;
    margin: 5px 30px 10px 0;
}
.recent_post_content {
    font-size: 16px;
    font-weight: 200;
    line-height: 23px;
}
#comment_form .form-comment-gs {
    position: relative;
    margin: 0;
    padding: 28px;
    background-color: #fff;
}
#comment_form input[type="text"] {
    width: 49.1%;
}

.product_catalog_list li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
}
.product_catalog_title {
    font-size: 30px;
}

/*quantity*/
.tovar_view_btn .quantity {
    display: inline-block;
    width: 150px;
    padding-top: 3px;
}
    .tovar_view_btn .quantity input, .tovar_view_btn .quantity button {
        float:left;
    }
    .tovar_view_btn .quantity button {
        color: #fff;
        background-color: #333;
        border: 0;
        padding: 13px 15px;
        font-size: 14px;
        
    }

    .tovar_view_btn .quantity input {
        width: 60px;
        margin: 0 5px 0 5px;
        padding: 22px;
        font-size:15px;
    }
.r_corners {

} 
.d_inline_middle{

} 
.f_size_medium {

}